<div class="container">
  <div style="text-align: center; font-family: 'Times New Roman',serif; font-size: 20px">
    <h1><%= @heading %></h1>

    <hr>

    <h5>Виконавцем наведеної роботи є студент групи КС43 - Образцов Дмитро.<br>Гарним описом всього процесу розробки та
      підготовки є наступна цитата: «Сенс життя не в тому, щоб чекати, коли закінчиться гроза, а в тому, щоб вчитися
      танцювати під дощем!»</h5><br><br>

    <dfn>P.s. Не знав де ще вибачитись за запізнення, тому просто вибачусь тут ще раз! Вибачте будь ласка!</dfn>

    <hr>


  </div>
</div>