<h1>Editing reciprocal</h1>

<%= render "form", reciprocal: @reciprocal %>

<br>

<div>
  <%= link_to "Show this reciprocal", @reciprocal %> |
  <%= link_to "Back to reciprocals", reciprocals_path %>
</div>
